# https://github.com/alexkaratarakis/gitattributes/blob/master/Web.gitattributes

*                 text=auto
*.css             text diff=css
*.gpg             binary
*.html            text diff=html
*.js              text
*.json            text
*.lock            text -diff
*.nix             text
*.org             text
LICENSE           text
*.svg             text
*.ts              text
*.tsx             text
*.yaml            text
*.yml             text

*.cjs             text
*.map             text -diff
*.md              text diff=markdown

# RC files (like .babelrc or .eslintrc)
*.*rc             text
.env              text

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text
